
.parallax-window {
padding-top: 50px;
 min-height: 400px;
 background: transparent;

}

.parallax-window .text-uppercase {
text-align: center;
color: #ffffff;


}

.dark-mask.mask-primary {
background:#0771BC;
opacity: 0.9;
}

#navbar .navbar-nav > li > a:hover {
background:dodgerblue;
border-color: #F59121;
color: #ffffff
}


.login_content h1:after, .login_content h1:before {
    content: "";
    height: 1px;
    position: absolute;
    top: 10px;
    width: 0% !important;
}